<template>
    <div class="header">
        <img src="../assets/images/fake.png" class="logo"/>
        <div class="userInfo">
            <img src="../assets/images/userIcon.svg" class="userIcon"/>
            <div class="userInfo__text">
                <div>
                    <p class="userInfo__text__white">Иннокентий Ф.</p>
                    <p class="userInfo__text__grey">Счет: #568768</p>
                </div>
                <div>
                    <p class="userInfo__text__grey">Доступно средств:</p>
                    <p class="userInfo__text__white">{{$store.state.deposit.toString().substring(0,8)}}</p>
                </div>
            </div>
        </div>
        <p class="bitcoin">₿</p>
    </div>
</template>

<script>
    import Vue from 'vue';
    import store from '../store';
    export default {
        name: "myheader"
    }
</script>

<style lang="scss">
    .header {
        display: flex;
        align-items: center;
        background-color: #0D1216;
        height: 80px;
        border-bottom: gray 1px solid;
        border-top: gray 1px solid;
    }

    .logo {
        margin-left: 30px;
        height: 45px;
        width: 80px;
    }

    .userInfo {
        justify-content: flex-end;
        display: flex;
        width: 100%;
        margin-right: 50px;

        .userIcon {
            background-color: white;
            border-radius: 25px;
            height: 40px;
            width: 40px;
        }

        .userInfo__text {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            div {
                display: flex;
                margin-bottom: 5px;
                p {
                    margin: 0 5px 0 0;
                }
                .userInfo__text__white {
                    color: white;
                }
                .userInfo__text__grey {
                    color: grey;
                    font-size: 14px;
                }
            }
        }
    }
    @media screen and (max-width: 680px) {
        .logo {
            display: none;
        }
        .userInfo {
            margin-right: 20px;
        }
    }
    @media screen and (max-width: 560px) {
        .userInfo {
            margin-right: 20px;
        }
    }
    @media screen and (max-width: 460px) {
        .header {
            .bitcoin {
                display: none !important;
            }
        }
    }

    .bitcoin {
        padding-left: 50px;
        color: white;
        height: 100%;
        margin-right: 50px;
        border-left: 1px solid gray;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
    }


</style>