<template>
  <div class="mainPage">
      <Header/>
      <div>
          <section v-if="loaded" class="mainSection">
              <div class="mainSection__header">
                  <p v-if="result === 'win'">Ставка выйграла</p>
                  <p v-if="result === 'lose'">Ставка проиграла</p>
                  <p v-if="result === ''">Бинарный опцион</p>
              </div>
              <div class="mainSection__body">

                  <div v-if="result === ''" class="userInput body__columns">
                      <p>Выберите валюту и сумму ставки:</p>
                      <div class="userInput__box">
                          <div class="userInput__box__body">
                              <div class="currency">
                                  <p>Валюта</p>
                                  <div>
                                      <img class="optionIcon" v-if="this.currency === 'USD'" src="../assets/images/dollar.png">
                                      <img class="optionIcon" v-if="this.currency === 'EUR'" src="../assets/images/euro.png">
                                      <img class="optionIcon" v-if="this.currency === 'GBP'" src="../assets/images/pound.png">
                                      <select class="select" v-model="currency" @change="checkRate" :disabled="bet" v-bind:class="{ disabled : bet}">
                                          <option v-for="item in $store.state.currencies" :value="item.code">{{item.code}}</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="sum">
                                  <p>Сумма</p>
                                  <input class="input" v-model="number" :disabled="bet"/>
                              </div>
                          </div>
                          <p class="userChoiceLabel">После следующего изменения котировок индекc биткойна к этой валюте пойдет:</p>
                          <div class="userChoice">
                              <div>
                                  <input type="radio" @click="userChoice('UP')" value="up" name="userchoice" :disabled="bet"/>
                                  <label>Вверх</label>
                              </div>
                              <div>
                                  <input type="radio" @click="userChoice('DOWN')" value="down" name="userchoice" :disabled="bet"/>
                                  <label>Вниз</label>
                              </div>
                          </div>
                      </div>
                      <div class="terms">
                          <input type="checkbox" v-model="termsAccepted" :disabled="bet"/>
                          <p>Я ознакомлен с правилами сервиса.</p>
                      </div>

                  </div>

                  <div v-if="result !== ''" class="resultDiv">
                      <img v-if="result === 'win'" src="../assets/images/success.png">
                      <p v-if="result === 'win'">Поздравляем! Ваша ставка выйграла.</p>
                      <p v-if="result === 'win'">Сумма выйгрыша по обновленному курсу: {{this.moneyResult}} BTC</p>

                      <img v-if="result === 'lose'" src="../assets/images/fail.png">
                      <p v-if="result === 'lose'">К сожалениюв ваша ставка проиграла.</p>
                      <p v-if="result === 'lose'">Сумма проигрыша по обновленному курсу: {{this.moneyResult}} BTC</p>

                      <input type="button" value="Сделать еще ставку" @click="makeNewBet"/>
                  </div>



                  <div v-if="result === ''" class="indexes body__columns">
                      <p>Текущие индексы:</p>
                      <div class="indexes__box">
                          <div class="indexes__box__line" v-for="item in $store.state.currencies">
                              <img v-if="item.code === 'USD'" src="../assets/images/dollar.png">
                              <img v-if="item.code === 'EUR'" src="../assets/images/euro.png">
                              <img v-if="item.code === 'GBP'" src="../assets/images/pound.png">
                              <div class="line_info">
                                  <p>{{item.code}}</p>
                                  <p class="number">Курс: {{(1/item.rate_float).toString().substring(0, 7)}}</p>
                              </div>
                          </div>
                      </div>
                      <p>По текущему курсу: {{(1/$store.state.currencies[this.currency].rate_float).toString().substring(0, 7)}}₿</p>
                  </div>
              </div>

              <div v-if="result === ''" class="rateButton">
                  <div>
                      <img src="../assets/images/checkmark.png" v-bind:class="{disabled : bet}"/>
                  </div>
                  <input type="button" value="Сделать ставку"
                         @click="makeBet" :disabled="bet" v-bind:class="{disabled : bet}"/>
              </div>

          </section>
          <div class="sectionFooter">
              <div class="links">
                  <a>На главный сайт</a>
                  <a>Регистрация</a>
                  <a>Документы</a>
                  <a>Правила</a>
                  <a>О компании</a>
              </div>
              <div class="media">
                  <img src="../assets/images/vk.png"/>
                  <img src="../assets/images/youtube.png"/>
                  <img src="../assets/images/instagram.png"/>
                  <img src="../assets/images/facebook.png"/>
              </div>
          </div>
          <p class="footerText">Общество с ограниченной ответственностью "SAAA"</p>
          <p class="footerText">Зарегестрированный товарный знак SAA</p>
      </div>
  </div>
</template>

<script>
    import Vue from 'vue';
    import store from '../store';
    import Header from './Header';
    import axios from 'axios'
    import Toasted from 'vue-toasted';

    Vue.use(Toasted);

    export default {
        name: 'MainPage',
        components: {Header},
        data() {
            return {
                currency: "USD",
                rate: "",
                direction: "",
                interval: null,
                interval2: null,
                bet: false,
                termsAccepted: false,
                number: "",
                result: "",
                moneyResult: 0,
                loaded: false
            }
        },
        methods: {
            checkSum() {
                if (this.number === "") {
                    this.$toasted.show("Sum should not be empty!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    return false;
                }
                if (store.state.deposit < 1) {
                    this.$toasted.show("Please add money to your deposit!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    return false;
                }
                if (/^\d*[.,]?\d*$/.test(this.number)) {
                    return true;
                }
                else {
                    this.$toasted.show("Sum should contain only positive float numbers!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    return false;
                }
            },
            checkTerms() {
                if (this.termsAccepted) {
                    return true;
                } else {
                    this.$toasted.show("Please accept terms!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    return false;
                }
            },
            checkDirection() {
                if (this.direction !== "") {
                    return true;
                } else {
                    this.$toasted.show("Choose next price direction!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    return false;
                }
            },
            getApiInfo() {
                let currentState = this;
                axios.get("https://cors-anywhere.herokuapp.com/https://api.coindesk.com/v1/bpi/currentprice.json?t=123454").then(
                    (res) => {
                        store.commit('setCurrencies', res.data.bpi);
                        currentState.rate = res.data.bpi['USD'].rate_float;
                    } ,(res) => {
                        console.log(res);
                    }
                )
                this.interval = setInterval(() => {
                    currentState.getRates();
                }, 5000)
                this.loaded = true;
            },
            getRates() {
                let currentState = this;
                axios.get("https://cors-anywhere.herokuapp.com/https://api.coindesk.com/v1/bpi/currentprice.json?t=123454").then(
                    (res) => {
                        store.state.currencies[currentState.currency].rate_float = res.data.bpi[currentState.currency].rate_float;
                        if (!currentState.bet) {
                            currentState.rate = store.state.currencies[this.currency].rate_float;
                        }
                    } ,(res) => {
                        console.log(res);
                    }
                );
            },
            checkRate() {
                this.rate = store.state.currencies[this.currency].rate_float;
            },
            makeBet() {
                let currentState = this;
                if (this.checkSum() && this.checkDirection() && this.checkTerms()) {
                    this.$toasted.show("Your bet is accepted, wait till result!", {
                        theme: "outline",
                        position: "bottom-left",
                        duration: 3000
                    });
                    this.bet = true;
                    this.interval2 = setInterval(() => {
                        if (currentState.direction === 'UP') {
                            if (store.state.currencies[currentState.currency].rate_float > currentState.rate) {
                                currentState.result = "win";
                                clearInterval(currentState.interval2);
                                currentState.moneyResult = (currentState.number * store.state.currencies[currentState.currency].rate_float) - (currentState.number * currentState.rate);
                                store.commit('setDeposit', store.state.deposit + currentState.moneyResult);
                            }
                            if (store.state.currencies[currentState.currency].rate_float < currentState.rate) {
                                currentState.result = "lose";
                                clearInterval(currentState.interval2);
                                currentState.moneyResult = (currentState.number * store.state.currencies[currentState.currency].rate_float) - (currentState.number * currentState.rate);
                                store.commit('setDeposit', store.state.deposit + currentState.moneyResult);
                            }
                        } else {
                            if (store.state.currencies[currentState.currency].rate_float < currentState.rate) {;
                                currentState.result = "win";
                                clearInterval(currentState.interval2);
                                currentState.moneyResult = (currentState.number * currentState.rate) - (currentState.number * store.state.currencies[currentState.currency].rate_float);
                                store.commit('setDeposit', store.state.deposit + currentState.moneyResult);
                            }
                            if (store.state.currencies[currentState.currency].rate_float > currentState.rate) {
                                currentState.result = "lose";
                                clearInterval(currentState.interval2);
                                currentState.moneyResult = (currentState.number * currentState.rate) - (currentState.number * store.state.currencies[currentState.currency].rate_float);
                                store.commit('setDeposit', store.state.deposit + currentState.moneyResult);
                            }
                        }
                    }, 5000)
                }
            },
            makeNewBet() {
              this.termsAccepted = false;
              this.number = "";
              this.result = "";
              this.bet = false;
            },
            userChoice(choice) {
                this.direction = choice;
            }
        },
        mounted() {
            this.getApiInfo();
        }
    }
</script>


<style lang="scss">


    .mainSection {
        margin: 40px 17% 0 17%;
        background-color: white;
        height: 480px;

        .mainSection__header {
            height: 60px;
            border-bottom: 1px solid #E8E9EA;
            box-shadow: 0px 0px 1px #E8E9EA;
            display: flex;
            align-items: center;
            p{
                margin-left: 20px;
                font-size: 18px;
                font-weight: 600;
                color: #282828;
                font-family: sans-serif;
            }
        }

        .mainSection__body {
            border-bottom: 1px solid #E8E9EA;
            box-shadow: 0px 0px 1px #E8E9EA;
            display: flex;
            padding: 20px;

            .terms {
                display: flex;
                margin-top: 30px;
                input {
                    margin: 0 7px 0 0;
                }
                p {
                    margin: 0;
                    font-size: 13px;
                    font-weight: 500;
                    color: darkgray;
                }
            }

            .body__columns {
                display: flex;
                flex-direction: column;
                font-weight: 600;
                color: #282828;
                font-family: sans-serif;
                p {
                    margin-bottom: 15px;
                }
            }

            .userInput {
                width: 70%;
                .userInput__box {
                    height: 200px;
                    width: 95%;
                    background-color: #F5F5F5;
                    border: 1px solid darkgray;
                    border-radius: 2px;
                    box-shadow: 0 0 1px 0 dimgrey;

                    .userInput__box__body {
                        display: flex;
                        div {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            padding: 15px;
                            p {
                                font-size: 13px;
                                margin-bottom: 7px;
                                margin-top: 0;
                            }
                            .input {
                                height: 24px;
                                width: 95%;
                                color: #282828;
                            }
                            .select {
                                height: 30px;
                                color: #282828;
                                width: 100%;
                                padding: 0 0 0 30px;
                                font-size: 15px;
                            }
                        }
                        .currency {
                            .disabled {
                                background-color: rgb(235, 235, 228);
                                cursor: default;
                            }
                            div {
                                width: 100%;
                                display: flex;
                                flex-direction: row;
                                padding: 0;
                                .optionIcon {
                                    height: 25px;
                                    width: 25px;
                                    margin-left: 7px;
                                    position: absolute;
                                    margin-top: 3px;
                                }
                            }
                        }
                    }
                    .userChoiceLabel {
                        font-size: 12px;
                        padding: 0 15px
                    }
                    .userChoice {
                        padding-left: 15px;
                        display: flex;
                        div {
                            margin-left: 15%;
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            input {
                                margin: 5px 0;
                            }
                            label {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
            .indexes {
                width: 30%;
                .indexes__box {
                    display: flex;
                    flex-direction: column;
                    height: 180px;
                    background-color: #FCFCFC;
                    border: 1px solid darkgray;
                    border-radius: 2px;
                    box-shadow: 0 0 1px 0 dimgrey;

                    .indexes__box__line {
                        display: flex;
                        align-items: center;
                        height: 33%;
                        border-bottom: 1px solid darkgray;
                        img {
                            margin-left: 15px;
                            margin-right: 25px;
                            height: 40px;
                            width: 40px;
                        }
                        .line_info {
                            .number {
                                font-weight: 500;
                                color: darkgray;
                            }
                            margin-top: 7px;
                            display: flex;
                            flex-direction: column;
                            p {
                                margin: 0 0 7px 0;
                                font-size: 12px;
                            }
                        }
                    }

                }
            }
        }
        .rateButton {
            display: flex;
            justify-content: flex-end;
            padding: 15px;
            .disabled {
                cursor: default;
                color: darkgray;
            }
            div {
                display: flex;
                width: 46px;
                background-color: #BBBEC0;
                height: 40px;
                align-items: center;
            }
            img {
                width: 15px;
                height: 15px;
                margin-left: 15px;
                cursor: pointer;
            }
            input {
                outline: none;
                width: 190px;
                height: 40px;
                cursor: pointer;
                background-color: #BBBEC0;
                color: white;
                font-weight: 600;
                border-width: 1px;
            }
        }
    }
    .sectionFooter {
        display: flex;
        align-items: center;
        padding: 0 15px;
        margin: 0 17% 30px 17%;
        background-color: #222830;
        height: 50px;
        .links {
            width: 50%;
            white-space: nowrap;
            a {
                margin-right: 15px;
                color: darkgray;
                font-size: 13px;
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .media {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            img {
                cursor: pointer;
                height: 25px;
                width: 25px;
                margin-right: 15px;
            }
        }
    }
    .footerText {
        color: darkgray;
        text-align: center;
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 14px;
    }

    .resultDiv {
        margin-top: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            margin-top: 0;
            margin-bottom: 5px;
            color: #313A44;
        }
        img {
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
        }
        input {
            cursor: pointer;
            margin-top: 25px;
            width: 180px;
            background-color: white;
            height: 35px;
            color: #313A44;
            font-weight: 550;
            border-width: 1px;
        }
    }

    @media screen and (max-width: 920px) {
        .mainSection {
            height: auto;
            .rateButton {
                input {
                    width: 170px;
                }
            }
            }
        .mainSection__body {
            flex-direction: column;
            .userInput {
                width: auto !important;

            }
            .indexes {
                width: 50% !important;
            }
        }
        .sectionFooter {
            flex-direction: column;
            height: auto !important;
            .links {
                width: auto !important;
                margin-bottom: 10px;
                margin-top: 10px;
                padding: 0 15px;
                white-space: normal;
            }
            .media {
                width: auto !important;
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (max-width: 780px) {
        .mainSection {
            margin: 40px 8% 0 8% !important;
        }
        .sectionFooter {
            margin: 0 8% 30px 8% !important;
        }
    }
    @media screen and (max-width: 680px) {
        .userInput {
            height: auto !important;
            .userInput__box {
                height: auto !important;
                padding-bottom: 10px;
            }
            .userInput__box__body {
                flex-direction: column;
                align-items: center;
                .currency {
                    width: 80% !important;
                }
                .sum {
                    width: 80% !important;
                    input {
                        padding: 0 7px;
                    }
                }
            }
        }
        .mainSection__body {
            .indexes {
                width: auto !important;
            }
        }
    }
    @media screen and (max-width: 560px) {
        .sectionFooter {
            .links {
                display: contents;
                a {
                    margin-top: 10px;
                }
            }
            .media {
                margin-top: 15px;
            }

        }
    }
</style>
